
.normal {
	position: absolute;
	top: 2.4rem;
	width: 100%;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.shake {
	margin-top: .15rem;
	margin-left: .2rem;
	color: #555;
	font-size: .32rem;
}
.shakeIcon {
	display: block;
	float: left;
	width: .51rem;
	height: .51rem;
	background: url(../../assets/image/icon_shake.png) 0 0 no-repeat;
	background-size: 100%;
	margin-right: .1rem;
}
.digits {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: .7rem;
	line-height: .7rem;
	position: fixed;
	bottom: 1rem;
	width: 100%;
}
.digit {
	margin-left: .1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #737373;
}
.icon {
	display: block;
	height: .4rem;
	width: .4rem;
	float: left;
	margin-right: .1rem;
	border-radius: .06rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon:before {
	content: '';
	display: block;
	width: .28rem;
	height: .15rem;
	border: 0rem solid #fff;
	border-left-width: .04rem;
	border-bottom-width: .04rem;
	transform: rotate(-45deg);
	margin-bottom: .1rem;
}