
.normal {
	margin-top: 1.5rem;
	// position: fixed;
	zoom: 1;
}
.buttons {
	height: .9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f4f4f4;
}
.button {
	background-color: #fff;
	font-size: .28rem;
	padding-left: .2rem;
	padding-right: .2rem;
	border-radius: .1rem;
	display: block;
	height: .6rem;
	line-height: .6rem;
}
.self {
	composes: button;
	margin-left: .4rem;
}
.one {
	composes: button;
}
.five {
	composes: button;
	margin-right: .4rem;
}